body {
    font-family: sans-serif;
}
header{
    background-color: LightGreen;
    text-align: center;
    padding: 10px;
}
header b{
    text-shadow: 1px 1px 1px green; 
}

header a{
    background-color:Lime ;
    color:  LimeGreen;
    padding: 5px;
    border: 3px double SeaGreen;
    border-radius: 50px;
    text-decoration: none; 
}

h1{
    color:DarkGreen ;
    background-color:Chartreuse ;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-family:Impact, fantasy;
}

footer p{
    background-color:LightBlue;
    border: 10px double LightSkyBlue;
    color: white;
    font-size: 20px;
    font-family: Snell Roundhand, cursive;
}

nav{
    text-align: center;
    padding: 20px;
    background-color: yellow;
}
nav a{
     background-color: lightskyblue;
     font-size: 15px;
     color: white;
     text-decoration: none;
     border-radius: 15px;
     padding: 5px;
     border: 3px dashed blue;
}

.bom{
    background-color: cadetblue;
    padding: 15px;
    color: cornsilk;
    border-radius: 5px;
    border: 3px solid navy;
}

h2{
    color:LightSteelBlue;
    font-size: 30px;
    font-family:Luminari, fantasy;
}
