body {
    font-family: sans-serif;
}
header{
    background-color: lavenderblush;
    text-align: center;
    padding: 10px;
}
header b{
 text-shadow: 3px 3px 3px rgb(140, 97, 156); 
}

header a{
    background-color: rgb(226, 148, 233);
    color:  #D8BFD8;
    padding: 5px;
    border: 5px double rgb(247, 109, 205);
    border-radius: 15px;
    text-decoration: none;
    margin: 50px;   
}
header b{
color: rgb(255, 154, 216);
border: 3px solid	#DA70D6 ;}
.A {
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: pink;
}
footer{
    background-color: navy;
}
footer p{
    background-color:blueviolet;
    border: 10px double #8B008B ;
    color: white;
}
nav{
    text-align: center;
    padding: 20px;
    background-color:#FF00FF ;
}
nav a{
     background-color: #FF69B4;
     font-size: 15px;
     color: black;
     text-decoration: none;
     border-radius: 15px;
     padding: 5px;
     border: 3px dotted #EE82EE ;
}
.k{
     background-color: #DA70D6;
    padding: 15px;
    color: cornsilk;
    border-radius: 5px;
}
.boo{
    background-color: #FF69B4;
}
h2{
    color: brown;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
